<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title FullStack Vietnam
		link(rel="stylesheet", href="./css/main.css")

	body

		.container
			.row
				.col-md-6
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam mollitia aspernatur cupiditate amet ut, placeat quisquam? Et consequatur iste amet quidem quia, corrupti recusandae autem quae natus libero aut ipsum?
				.col-md-6
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam mollitia aspernatur cupiditate amet ut, placeat quisquam? Et consequatur iste amet quidem quia, corrupti recusandae autem quae natus libero aut ipsum?
				.col-md-6
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam mollitia aspernatur cupiditate amet ut, placeat quisquam? Et consequatur iste amet quidem quia, corrupti recusandae autem quae natus libero aut ipsum?
				.col-md-6
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam mollitia aspernatur cupiditate amet ut, placeat quisquam? Et consequatur iste amet quidem quia, corrupti recusandae autem quae natus libero aut ipsum?

		.container
			.row
				.col-md-4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sed, repellat suscipit, illum eaque laudantium omnis obcaecati cumque at placeat rerum ducimus, commodi reprehenderit? Laboriosam dolores ea vero accusantium voluptatem?
				.col-md-4 DDDDDDDLorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sed, repellat suscipit, illum eaque laudantium omnis obcaecati cumque at placeat rerum ducimus, commodi reprehenderit? Laboriosam dolores ea vero accusantium voluptatem?
				.col-md-4 KKKKKLorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sed, repellat suscipit, illum eaque laudantium omnis obcaecati cumque at placeat rerum ducimus, commodi reprehenderit? Laboriosam dolores ea vero accusantium voluptatem?

		
